@model IEnumerable<COMPUTERMANAGEMENT_DAL.t_Modelo>

@{
    ViewBag.Title = "Modelo List";
}

<h2>Lista de modelos</h2>

<p>
    @Html.ActionLink("Agregar Modelo", "AgregarModelo")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Modelo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Modelo)
        </td>
    </tr>
}

</table>
